* {
    font-family: Tahoma !important;

}
body {
    overflow-x: hidden;
}
#wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

#logo{
    margin-left:60px;
}
#header {
    position: fixed;
    top: 0;
    z-index: 100;
    max-width: 1200px;
    margin: 0 auto;


}

.container{
    background-color:rgb(49, 74, 112);



}
nav{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
#logo{
    padding: 5px 100px;
}

#logo img{
    max-width: 100px;
    height: auto
}
#main-menu{
    display:flex;
    list-style:none;
    margin-right:200px;
    padding: 0;
}

#main-menu li{
    position: relative;
}
#main-menu li a{
    color:#f8f8f8;
    display: block;
    text-decoration: none;
    padding: 12px 5px;
    width: 100px;
    font-size: 14px;
    margin-bottom: 5px;

}
#main-menu li  a.long{
    margin-left: 25px;
}
#main-menu li  a.set{
    margin-right: 15px;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color:rgb(49, 74, 112) ;
    padding: 1px 0px;
    list-style: none;
    width: 200px;
    border:1px solid #807a7a;
    display: none;
}
#main-menu li:hover>ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    padding:10px 15px;
    border-bottom:1px solid#807a7a;
    left: 0;
    width: auto;
    position: relative;
    z-index: 10;
}
#main-menu ul.sub-menu :hover a{
    border-bottom:1px solid #dacfcf ;
}
#main-menu ul.sub-menu li:last-child {
    border: none;
}
#main-menu ul.sub-menu ul.sub-menu{
    left: 201px;
    top: -2px;
}
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content:"";
    height:2px;
    width: 0px;
    background: #f8f8f8;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition:0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}
#main-menu>li.has-child::after{
    font: var(--fa-font-solid);
    content: "\f107";
    color: #f8f8f8;
    position: absolute;
    top: 0px;
    right: 35px;
    padding: 18px 18px;
}
#main-menu .sub-menu li:hover a{
    color: #f8f8f8;
}
#main-menu .sub-menu>li.has-child::after{
    content:"\f105";
    font: var(--fa-font-solid);
    color: #d69ac3;
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 12px 0px;
}
#main-menu .sub-menu>li.has-child::after{
    color: #f8faf4;
}
#InputSearch {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 120px;
    height:9px ;
    font-size: 13px;
    padding: 5px;
    border: 2px solid black;
    margin-top:10px;
    margin-left: 0px;
    position: relative;
    left: -20px;
}

#ulsearch{
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;

}


#ulsearch li a {
    border: 0px solid #ddd;
    position:relative ;
    top:35px;

    margin-left: -150px;
    margin-bottom: 0px;

    padding: 0;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: bl;
    list-style: none;
    width: auto;
    background-color:rgb(49, 74, 112);
}

#ulsearch li a.header {
    background-color: #e2e2e2;
    cursor: default;
}

#ulsearch li a:hover:not(.header) {
    background-color: #8080ea;
}

#main {
    height: 1700px;
    margin-top: 100px;
    max-width: 1200px;


}



.content {
    float: left;
    width:75%;
    height: 100%;






}
.h3new{
  position: relative;
    top: 40px;

}
.newrelease {

    height: 10%;
    display: flex;


    justify-content: space-between;
    margin-top: 70px;
}
.newrelease-sub {


    height: 100%;
    position: relative;




}
.newrelease-sub p {
    position: absolute;
    bottom: -45px;
    padding: 0px 70px;
    font-weight: bold;
    color: #2433e0;
    width: 200px;
    font-size: 18px;



}
.newrelease-sub img{
    object-fit: cover;
    width: 90%;
    z-index: 1;
    position: relative;
    height: 100%;
;

}
.slideshow {
    overflow: hidden;
    height: 170px;
    width: 363px;
    margin: 0 auto;
}
.slide-wrapper {
    width: 1089px;
    -webkit-animation: slide 12s ease infinite;
}
.slide {
    float: left;
    height: 170px;
    width: 363px;
}
@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -363px;}
    50% {margin-left: -363px;}
    60% {margin-left: -726px;}
    80% {margin-left: -726px;}
}
.kind{
    margin-top: 35px;
    height: 15%;

    display: flex;

   justify-content: space-between;
    width: 100%;

}
.sidebar {
    width: 25%;
    float: right;
    text-align: center;

    height: 100%;




    color: #1248d0;

    margin-top: 60px;

}
.list-rank {
    margin-top: 70px;
    width: 202px;
    display: flex;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 40px;
}
.list-rank h4 {
    position: relative;
    color:  #314a70;
    font-style: italic;

    font-size: 22px;
}
.list-rank li {
    list-style: none;
    margin-bottom: 5px;
}
.list-rank a {
    text-decoration: none;
}
.singger {
    font-size: 13px;
    color: #314a70;
}

.sidebar h3{
    position: relative;
    top: -40px;
    left: -30px;

}
.most p{
    height: 50px;
    font-weight: bold;
    text-align: center;
}


.subkind {
    height: 100%;
    width: 25%;
    justify-content: space-between;


}
.subkind img {
    object-fit: cover;
    height: 190px;
    margin-top: 50px;



    margin-right: 10px;
}
.subkind p {
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;


}
.namelist {
    position: relative;
    top: 50px;
    color: black;
    font-weight: bold;
}
#footer {


    height: 200px;
    background-color:rgb(49, 74, 112);
    margin-top: 600px  ;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    color: white;





}
.sub-foot {
    position: relative;
    top: 20px;
}
#footer a{
    position: relative;
    top: -25px;
    text-decoration: none;
    color: yellow;


}


